<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
    <display-name>Fitsbug</display-name>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>filter.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TrainerAuthFilter</filter-name>
        <filter-class>filter.TrainerAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TrainerAuthFilter</filter-name>
        <url-pattern>/trainer/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GymAuthFilter</filter-name>
        <filter-class>filter.GymAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GymAuthFilter</filter-name>
        <url-pattern>/gym/*</url-pattern>
    </filter-mapping>
</web-app>